body {
  height: 100%;
  margin: 0;
  letter-spacing: 0.3px;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
  font-family: ReithSerif, Helvetica, Arial, freesans, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  
}

main {
  flex-grow: 1; /* Glavni sadržaj se širi kako bi gurnuo footer na dno */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.header1{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  
}

.welcome-registration {
  /* margin-left: 40px; */
  margin-bottom: 40px;
  font-weight: 600;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 0.3px;
  font-size: 20px;
  background-color: rgb(52, 131, 228);
  color: white;
}

.flex-div-reg{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.registration-form {
  /* margin-left: 5%;
  margin-right: 10%; */

  padding-top: 20px;
  padding-bottom: 20px;
  box-shadow: 2px 2px 2px rgb(162, 162, 162);
  background-color: rgb(205, 226, 251);
  /* border-radius: 10px; */
  /* width: 80%; */
  max-width: 810px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.registration-label {
  margin-left: 40px;
}

.username {
  font-weight: 600;
  color: rgb(138, 138, 138);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding-bottom: 15px;
}

.input-username {
  margin-left: 30px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 16px;
  box-shadow: 2px 2px 2px rgb(162, 162, 162);
  padding: 5px;
  margin-top: 15px;
  margin-bottom: 40px;
  border-radius: 10px;
}

.avatar-select {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.avatar-item {
  display: inline-block;
  text-align: center;
}

/* invisible radio button: */
.avatar-item input {
  display: none;
}

.avatar-image {
  margin: 7px;
  width: 70px;
  height: 70px;
  cursor: pointer;
  border: 2px solid transparent;
  transition: border 0.3s ease;
  /* padding-top: 15px;
  padding-bottom: 15px; */
  border-radius: 50%;
}

/* avatar gets bigger when hover over */
.avatar-image:hover {
  transform: scale(1.1);
}

/* additional class for avatar-image, if selected by user (clicked): */
.selected {
  border: 3px solid rgb(141, 141, 158);
  box-shadow: 0 0 10px rgba(108, 108, 116, 0.5);
  transform: scale(1.15);
}

.messages-list {
  list-style-type: none;
  /* padding: 0;
  margin: 0; */
}

/* textarea */
.message-input {
  margin-left: 2%;
  margin-right: 2%;
  /* padding-top: 20px;
  padding-bottom: 20px; */
  /* margin-bottom: 20px; */
  padding: 10px;
  /* border-top-left-radius: 15px;
  border-bottom-right-radius: 15px; */
  border-radius: 10px;
  resize: vertical; /* user can scroll vertically, when more content */
  min-height: 60px;
  max-height: 500px;
  width: 500px;
  min-width: 200px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 16px;
  box-shadow: 2px 2px 2px rgb(162, 162, 162);
}

.input-button,
.registration-button {
  margin: 30px 0;
  padding: 10px 15px;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 1px;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
  /* border-radius: 20px; */
  /* background-color: rgb(115, 173, 243); */
  background-color: rgb(52, 131, 228);
  color: white;
  border-color: rgb(115, 173, 243);
  box-shadow: 2px 2px 2px rgb(113, 112, 112);
}

.input-button:hover,
.registration-button:hover {
  transform: scale(1.1);
  background-color: rgb(168, 203, 246);
  /* font-weight: 600; */
  font-size: 17px;
}

.registration-button {
  margin: 30px;
}

.flex-registration,
.flex-message {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

.flex-registration {
  justify-content: center;
}

.flex-message {
  justify-content: left;
}

.user-joined {
  color: green;
  font-size: 15px;
  margin-top: 25px;
  margin-bottom: 5px;
  margin-left: 25px;
}

.user-left {
  color: red;
  font-size: 15px;
  margin-top: 25px;
  margin-bottom: 5px;
  margin-left: 25px;
}

.user-message {
  display: inline-block;
  color: black;
  /* font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif; */
  font-family: ReithSerif, Helvetica, Arial, freesans, sans-serif;
  background-color: rgba(168, 212, 250, 0.486);
  padding: 10px;
  margin-top: 5px;
  margin-right: 40px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 2px 2px 2px rgb(191, 191, 191);
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: left;
  background-color: rgb(52, 131, 228);
  color: white;
}

.social-links {
  display: flex;
  margin: 10px;
}
.social-links a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
  font-size: 1.5rem;
  transition: color 0.3s ease;
}
.social-links a:hover {
  color: #ecf0f1;
}
